.main
  -# %section.head
  -#   .content
  -#     %p
  -#       ただ今、転職活動中です！
  -#     %br
  -#     %p
  -#       希望職種：Webマーケター
  -#     %p#blog_start_reason
  -#       学習中のマーケティングスキル：SEO, リスティング広告運用, セールスライティング
  %section
    .flame
      .content
        .balloon5
          .faceicon
            = image_tag 'business01_laugh.png'
          .chatting
            .says
              %p
                では、これから面接を始めます。最初にこちらからいくつか質問します。
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2.answer
              %p
                わかりました。よろしくお願いします。
    .flame 
      .name
        %h2
          %i.fas.fa-dumbbell
          学生時代について
          %i.fas.fa-dumbbell
      .content
        .balloon5
          .faceicon
            = image_tag 'business_man_question.png'
          .chatting
            .says
              %p
                学生時代はどんなことしていましたか？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                海外との文化交流に興味があったことから、、国際文化交流系のゼミに所属し、インドネシアの隣にある東ティモールという国に行き、現地のコーヒー生産者や現地で働く日本人の方にインタビューしました。帰国後、一般市民を対象とした東ティモールについて学ぶ勉強会を企画し、50名ほど集客しました。
    .flame 
      .name
        %h2
          %i.fas.fa-dumbbell
          前職を選んだ理由
          %i.fas.fa-dumbbell
      .content
        .balloon5
          .faceicon
            = image_tag 'businessman_question.png'
          .chatting
            .says
              %p
                大学卒業後、全然違う心理系の仕事？臨床心理士？になったのはなぜですか？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                大学在学中に、一時期パニック発作の症状が出ていた時期があり、その経験から、自分と同じような人たちの力になりたいと思って臨床心理士を目指すことにしました。
        .balloon5
          .faceicon
            = image_tag 'businessman_question.png'
          .chatting
            .says
              %p
                それってどういう病気なの？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                人によって違うのですが、私の場合は、電車や車といった閉鎖空間にいくと、息苦しくなるという症状でした。
        .balloon5
          .faceicon
            = image_tag 'businessman_question.png'
          .chatting
            .says
              %p
                今はもう大丈夫なの？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                はい、大学在学中に完全に克服したので、今は全く問題ありません。
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          Webマーケターに転職しようと思った理由
          %i.fas.fa-dumbbell
      .content
        .balloon5
          .faceicon
            = image_tag 'business_man_question.png'
          .chatting
            .says
              %p
                なぜ今回、全然違う仕事からWebマーケティング業界に転職しようと思ったのですか？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                ２つ理由があります。
              %p
                １つは、成果が数字ではっきり現れる仕事がしたいと思いました。前職のかたわら副業でやっていたアフィリエイトブログや趣味の筋トレから、目標を達成するために試行錯誤していくのが楽しいと思いました。
              %p
                もう１つは、「自分で稼いでいる感覚がある仕事がしたい」と思ったからです。アフィリエイトブログで生まれて初めて「自分の力で稼いでいる感覚」を知り、Webマーケティングの仕事に興味を持つようになりました。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          ブログで工夫したこと
          %i.fas.fa-dumbbell
      .content
        %p
          ・Twitterやヤフー知恵袋でユーザーの悩みや知りたいことを探りました。
        %p
          ・3語のロングテールキーワードで上位に入ることを狙って記事を書いていました。
        %p#jobchange_reason
          ・自身が商品を使用してどうなったか体験談を書くことで説得力の向上と差別化を図りました。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          転職しようと思った理由
          %i.fas.fa-dumbbell
      .content
        .balloon5
          .faceicon
            = image_tag 'business_man_question.png'
          .chatting
            .says
              %p
                なぜ全然違う業界からWebマーケティング業界に転職しようと思ったの？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                ブログを始めて、初めて「自分で稼いでいる感覚」を得ました。その体験から、「自分で売れる仕組みを作り収益を上げられるようになりたい」と思い、Webマーケティングを学習するようになりました。ブログや趣味の筋トレも、数値目標を達成するために試行錯誤していくことが好きなので、そういった意味でも向いていると思いました。
      .name
        %h2
          %i.fas.fa-dumbbell
          キャリアプラン
          %i.fas.fa-dumbbell
      .content
        %p
          Q. どんなWebマーケターになりたい？今後のキャリアプランは考えている？
        %br
        %p
          アフィリエイトブログで培ったSEOなどのスキルや経験を生かして、Webマーケティング領域のプロフェッショナルとして貢献していきたいと思います。
        %br
        %p#skill
          中長期的には、自分のスキルや経験をチームに積極的に共有しナレッジの標準化を行ったり、全体のパフォーマンス向上のためのチームビルディングにも貢献していきたいと考えております。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          所有スキル
          %i.fas.fa-dumbbell
      .content
        %p
          〈アフィリエイトサイト運営で学習した技術〉
          %p
            ・WordPressを用いたブログ運営
          %p
            ・Googleサーチコンソールを用いたアクセス分析
          %p
            ・Googleアナリティクスを用いたアクセス分析
          %p
            ・キーワードプランナーを用いたSEOキーワード選定
          %p
            ・ブログ記事の企画, ライティング
        %br
        %p
          〈学習経緯〉
          %p#portfolio
            実績を上げているブロガーの有料noteやブログを読み独学で学びました。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          実績・制作物
          %i.fas.fa-dumbbell
      .content
        %P
          ポートフォリオサイト
          = link_to "https://mydictionary7118.herokuapp.com/", method: :get do
            https://mydictionary7118.herokuapp.com/
        %P
          アフィリエイトブログ：
          = link_to "https://bibirihealthy.com/", method: :get do
            https://github.com/naota7118
        %p
          オリジナルアプリ：
          = link_to "https://pfcmaster.work/", method: :get do
            https://pfcmaster.work/
        %p
          GitHub：
          = link_to "https://github.com/naota7118/", method: :get do
            https://github.com/naota7118
        %p
          Qiita：
          = link_to "https://qiita.com/naota7118", method: :get do
            https://qiita.com/naota7118
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                オリジナルアプリは独学でダイエットアプリを作りました。
  %section
