.main
  = javascript_include_tag 'slick.min.js'
  %section.sentence 
    .box2
      %p
        ただ今、転職活動中です！
        %p
          希望職種：バックエンドエンジニア
          %p
            学習中の言語：Ruby, PHP, Vue.js
            %p
              ご興味を持って頂けましたらご連絡ください！
  %section.profile
    #profile
      .name
        %h2
          経歴
      .box2
        %p
          1989年9月 千葉県富里市出身
        %p  
          2012年3月 青山学院大学 総合文化政策学部総合文化政策学科 卒業
        %p  
          2015年3月 国際医療福祉大学大学院 臨床心理学専攻 修了
        %br
        %p
          2016年4月〜2018年3月 品川心療内科（カウンセラー）
        %p
          2017年6月〜2020年12月 荏原病院（入院患者向け集団プログラム企画）
        %p
          2018年4月〜2020年12月 後藤クリニック（カウンセラー）
        %br
        %p
          常に患者さんがどんなことを求めているか考え行動していました。
        %p
          カウンセリングでは患者さんごとに異なるニーズの仮説を立て、仮説に基づいたアプローチをしていました。
        %p
          その結果、2020年はカウンセリング継続率100%を達成することができました。
        %br
        %p
          入院患者さん向け集団プログラムでは、参加者1人1人に声をかけ、要望や改善点をヒアリングしました。
        %p
          ヒアリングをもとに塗り絵の種類を30種類以上に増やしたり、新たに簡単にできるマッサージのプログラムを取り入れるなどを実行し、プログラム参加率を15%から50%まで向上させることができました。
      .box2
        %p
          2018年8月〜 アフィリエイトブログ開始
        %br
        %p
          AGA(男性型脱毛症)商品のアフィリエイトブログを運営しています。
        %p
          常に読者が知りたい情報はどんな情報かを考え記事を書いていました。
        %p
          Twitterやヤフー知恵袋で読者の悩みをリサーチし、リサーチに基づいて記事を作成しました。
        %p
          その結果、PV数を400PVから2,864PVに伸ばし、ある3語のキーワードの検索順位を3位まで向上させることができました。
  %section
    #vision
      .name
        %h2
          ビジョン
      .box2
        %p
          Q. なぜ前職を退職しようと思ったの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                もっと学習意欲や成長意欲を活かした仕事がしたいと思ったからです。
        %p
          前職ではスキルアップのために心理療法の研修会に参加したり、自分でカウンセリングの勉強会を企画したりしていました。
        %br
        %p
          しかし、そういった専門的な心理療法のテクニックを用いたアプローチよりも傾聴するアプローチの方が結果が良かったのです。
          結果的には良かったものの、自分はもっと学習意欲や成長意欲を活かして働いた方がより幸せに働けると考え、転職を決意しました。
      .box2
        %p
          Q. なぜwebエンジニアなの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                自ら手を動かし何かを作れる人（作り手）になりたいと思ったからです。
        %p
          大学4年生の時、当時は将来農家になることを目指していて、和歌山県の農家に頼みこんで2ヶ月農業体験させて頂きました。
        %p
          農家の方たちが自分たちの商品を誇りを持って作っている姿に魅了されました。
        %p
          それ以来、私はずっと作り手の方たちへのリスペクトの念を抱いてきました。
        %br
        %p
          Q. なぜwebサービスを作りたいの？
        %p
          webサービスを開発することによって既存の様々な問題を解決し、新しい価値を提供したいからです。
        %br
        %p 
          例えば前職のメンタルヘルス業界も、今後webサービスの導入が進むことで様々な変化が生じると予想できます。
        .box3
          %p 
            問題：新型コロナウイルスの影響で直接対面するカウンセリングが難しくなった
          %p
            変化：zoomなどによるオンラインカウンセリングへシフト
          %br
          %p
            問題：カウンセリングに行ったが効果があるのか分からず行かなくなった
          %p
            変化：睡眠、活動量、気分などがデータ化され、データに基づいたカウンセリングが誕生?!
          %br
          %p
            問題：守秘義務の関係もあり、カウンセラー同士で気軽に相談できる場がない
          %p
            変化：強固なセキュリティが担保されたweb上のカウンセラーのためのプラットフォームが誕生?!
          %br
          %p
            問題：ADHDの方たち「仕事で結果を出すほどマルチタスクになっていき対応できない」
          %p
            変化：本人が忘れていることをリマインドしたりスケジュール管理を手伝ってくれるwebサービスの登場?!
        %p 
          このように、webサービスを開発することで、様々な問題を解決し、新たな価値や体験を提供したいと思っております。
      .box2
        %p
          Q. なぜwebエンジニアなの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                世の中に新しい価値を提供したいと思ったからです。
        %p
          前職の集団プログラム運営でも、常に自分は患者さんたちにどんな価値が提供できるか考えて行動していました。「患者さんが安心して通える居場所を提供すること」が自分の職務であると考え、その目的を達成するために毎日必ず全員に声を掛けるなどの行動をしていました。
        %br
        %p
          「新しい価値を提供したい」と思う理由は、それが自分の存在価値に直結するからです。
        %p 
          高橋直太という人間がいてこそ提供できる価値はなんだろう？
      .box2
        %p
          Q. どんなwebエンジニアになりたいの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                バックエンドを軸としつつ、フロントやインフラもできるエンジニアになりたいと思っています。
        %p
          バックエンドを志望する理由は、ユーザーが触れる部分だけでなくwebサービスの全体像を把握したいという思いがあるからです。
          ユーザーの利便性を向上させることも重要ですが、私にとってそれ以上に今まで知らなかったwebサービスの裏側の仕組みを理解し操作できるようになることが魅力的でした。
          ただ、私は好奇心が強くフロントやインフラにも興味関心があり、よりチームに貢献できる存在になるためにそういった技術もできるように積極的にキャッチアップしていきたいと思っております。
      .box2
        %p
          Q. 数年後の自分をイメージできる？
        %br
        %p
          1年後の姿：テストや運用で豊富な経験を積む。信頼を得て開発の一部を任せて頂くようになる。問題の切り分けやロジカルな考え方ができるようになる。積極的にキャッチアップしていく行動力でチームに刺激を与える存在になる。
        %br
        %p
          3年後の姿：設計もできるようになり、設計から開発・テスト・運用まで一貫して行える。後輩メンバーのフォローなどチームを引っ張っていく存在になる。
  %br
  %section
    #skills
      .name
        %h2
          所有スキル
      .box2
        %p
          〈プログラミングスクールで学習した技術〉
          %p
            HTML / CSS / Javascript / jQuery / Ruby / Ruby on Rails / Git / AWS(EC2, S3, IAM)
        %br
        %p
          〈ポートフォリオで使用した技術〉
          %p
            HTML / CSS / Javascript / jQuery / Ruby / Ruby on Rails / Git / AWS(EC2, S3, VPC, Route53, ALB, IAM) / Docker / CircleCI / Rspec / Rubocop / Chart.js
        %br
        %p
          〈学習経緯〉
          %p
            プログラミングスクールでGitHubのプルリクを用いたチーム開発を経験し、スクール卒業後は独学でRuby on Railsを用いたオリジナルアプリを開発し、アプリを開発しながら学習していきました。
            %p
              ポートフォリオのエラーで困ったときは、同じエラーのStackoverflow記事を参考にし、わからないところはRailsやMySQLのドキュメントを確認しました。どうしても解決できないときは、teratailで質問し解決しました。
              %p
                DockerやCircleCIはUdemy講座で基本的な流れを掴んだらすぐにポートフォリオでアウトプットし、つまずいたらドキュメントで調べるようにしていました。
  %section
    #portfolio
      .name
        %h2
          ポートフォリオ
      .box2
        %p
          = link_to "https://pfcmaster.work/", method: :get do
            アプリのURL：https://pfcmaster.work/
          %p
            = link_to "https://github.com/naota7118/", method: :get do
              GitHubのURL：https://github.com/naota7118
          %br
            %p
              開発した目的：「減量が続かない」という自分自身の悩みを解決するため。
              %p
                用途や機能：体重と体脂肪率から目安カロリーを自動計算する機能をjQeryで実装。摂取カロリーと体重の推移をグラフで表示する機能をChart.jsで実装。
              %br
                %p
                  工夫した点：Chart.jsを用いたグラフ機能の実装で、どのようにデータを取得しグラフで表示するか自分で考えてcharts_controller.rbのコードを書いたところ。
                  %p
                    難しかった点：AWSへのデプロイでたくさんのエラーに直面しました。自力でエラーを解決していくことで自走力が身につきました。
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                = link_to "https://qiita.com/naota7118/items/d641eae70dd65412a00b", method: :get do
                  ポートフォリオを説明するQiita記事
                を書いたところ165Contribution頂くことができました!!
        .youtube
          .portfolio__youtube
            = link_to "https://youtu.be/OukAs52n-Pc", method: :get do
              ポートフォリオの説明YouTube動画
          .youtube-container
            %iframe{width:"560", height:"315", src:"https://www.youtube.com/embed/OukAs52n-Pc", frameborder:"0" }
  %br
  %section
    #hobby
      .name
        %h2
          趣味
      .box2
        筋トレ
        %ul.slider
          %li
            = image_tag '8_22_body.jpg', size: "300x300"
          %li
            = image_tag '8_29_body.jpg', size: "300x300"
          %li
            = image_tag '9_29_body.jpg', size: "300x300"
          %li
            = image_tag '10_26_body.JPG', size: "300x300"
          %li
            = image_tag '11_4_body.JPG', size: "300x300"
        :javascript
          $(function(){
            $('.slider').slick({
              autoplay: true, //自動再生
              dots: true, //ドットのナビゲーションを表示
              infinite: true, //スライドのループ有効化
              speed: 1000, //切り替えのスピード（小さくすると速くなる）
              fade: true, //フェードの有効化
            });
          });
      .music
        = audio_tag("test.mp3", id: 'audio', autoplay: true, controls: true)
