.main
  %section.head
    .content
      %p
        ただ今、転職活動中です！
      %br
      %p
        希望職種：Webマーケター
      %p#blog_start_reason
        学習中のマーケティングスキル：SEO, リスティング広告運用, セールスライティング
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          ブログを始めたきっかけ
          %i.fas.fa-dumbbell
      .content
        %p
          ・本業の臨床心理士の仕事が非常勤で昇給がなかったため、副収入を得られればと考えたためです。
        %p  
          ・もともと文章を書く（思考を言語化してアウトプットすること）が好きで、アメブロに日記を書いていたことから、副収入を得る手段としてブログを選びました。
        %p#blog_scheme
          ・私自身、男性型脱毛症に悩んでいた体験から、男性型脱毛症に悩む20〜30代男性をターゲットとしたアフィリエイトブログを始めることにしました。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          ブログで工夫したこと
          %i.fas.fa-dumbbell
      .content
        %p
          ・Twitterやヤフー知恵袋でユーザーの悩みや知りたいことを探りました。
        %p
          ・3語のロングテールキーワードで上位に入ることを狙って記事を書いていました。
        %p#jobchange_reason
          ・自身が商品を使用してどうなったか体験談を書くことで説得力の向上と差別化を図りました。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          転職しようと思った理由
          %i.fas.fa-dumbbell
      .content
        .balloon5
          .faceicon
            = image_tag 'business_man_question.png'
          .chatting
            .says
              %p
                なぜ全然違う業界からWebマーケティング業界に転職しようと思ったの？
        .balloon6
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting#careerplan
            .says2
              %p
                ブログを始めて、初めて「自分で稼いでいる感覚」を得ました。その体験から、「自分で売れる仕組みを作り収益を上げられるようになりたい」と思い、Webマーケティングを学習するようになりました。ブログや趣味の筋トレも、数値目標を達成するために試行錯誤していくことが好きなので、そういった意味でも向いていると思いました。
      .name
        %h2
          %i.fas.fa-dumbbell
          キャリアプラン
          %i.fas.fa-dumbbell
      .content
        %p
          Q. どんなWebマーケターになりたい？今後のキャリアプランは考えている？
        %br
        %p
          アフィリエイトブログで培ったSEOなどのスキルや経験を生かして、Webマーケティング領域のプロフェッショナルとして貢献していきたいと思います。
        %br
        %p#skill
          中長期的には、自分のスキルや経験をチームに積極的に共有しナレッジの標準化を行ったり、全体のパフォーマンス向上のためのチームビルディングにも貢献していきたいと考えております。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          所有スキル
          %i.fas.fa-dumbbell
      .content
        %p
          〈アフィリエイトサイト運営で学習した技術〉
          %p
            ・WordPressを用いたブログ運営
          %p
            ・Googleサーチコンソールを用いたアクセス分析
          %p
            ・Googleアナリティクスを用いたアクセス分析
          %p
            ・キーワードプランナーを用いたSEOキーワード選定
          %p
            ・ブログ記事の企画, ライティング
        %br
        %p
          〈学習経緯〉
          %p#portfolio
            実績を上げているブロガーの有料noteやブログを読み独学で学びました。
  %section
    .flame
      .name
        %h2
          %i.fas.fa-dumbbell
          実績・制作物
          %i.fas.fa-dumbbell
      .content
        %P
          ポートフォリオサイト
          = link_to "https://mydictionary7118.herokuapp.com/", method: :get do
            https://mydictionary7118.herokuapp.com/
        %P
          アフィリエイトブログ：
          = link_to "https://bibirihealthy.com/", method: :get do
            https://github.com/naota7118
        %p
          オリジナルアプリ：
          = link_to "https://pfcmaster.work/", method: :get do
            https://pfcmaster.work/
        %p
          GitHub：
          = link_to "https://github.com/naota7118/", method: :get do
            https://github.com/naota7118
        %p
          Qiita：
          = link_to "https://qiita.com/naota7118", method: :get do
            https://qiita.com/naota7118
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                オリジナルアプリは独学でダイエットアプリを作りました。
  %section
