.main
  %section.sentence 
    .box2
      %p
        ただ今、転職活動中です！
      %br
      %p
        希望職種：Webマーケター
      %p
        学習中のマーケティングスキル：SEO, リスティング広告運用, セールスライティング
  %section#blog_start_reason
    .profile__box
      .name
        %h2
          ブログを始めたきっかけ
      .box2
        %p
          ・本業の臨床心理士の仕事が非常勤で昇給がなかったため、副収入を得られればと考えたためです。
        %p  
          ・もともと文章を書く（思考を言語化してアウトプットすること）が好きで、アメブロに日記を書いていたことから、副収入を得る手段としてブログを選びました。
        %p  
          ・私自身、男性型脱毛症に悩んでいた体験から、男性型脱毛症に悩む20〜30代男性をターゲットとしたアフィリエイトブログを始めることにしました。
  %section#blog_scheme
    .profile__box
      .name
        %h2
          ブログで工夫したこと
      .box2
        %p
          ・Twitterやヤフー知恵袋でユーザーの悩みや知りたいことを探りました。
        %p  
          ・3語のロングテールキーワードで上位に入ることを狙って記事を書いていました。
        %p  
          ・自身が商品を使用してどうなったか体験談を書くことで説得力の向上と差別化を図りました。
  %section
    #vision#vision__1#vision__2
      .name
        %h2
          転職しようと思った理由
      .box2
        %p
          Q. なぜ全然違う業界からWebマーケティング業界に転職しようと思ったの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                結果が数字という目に見える形で表れるところが魅力的で、転職した方が今まで以上に頑張れると思いました。アフィリエイトブログや筋トレで目標の数字を達成した時や、達成するために日々考えて行動することが楽しかったことからそう思いました。
        %p
          また、前職では話を聞いてアドバイスをしても、実際にやるかどうかはご本人次第で自分は手を動かせないことがもどかしいと感じていました。アフィリエイトブログで自分で記事を書いたりアイキャッチ画像を作成したりと手を動かすのが楽しく感じたことから、そういったことを仕事にしたいと思いました。
      .name
        %h2
          キャリアプラン
      .box2
        %p
          Q. どんなWebマーケターになりたい？今後のキャリアプランは考えている？
        -# .balloon5
        -#   .faceicon
        -#     = image_tag 'profile_face_image.jpg'
        -#   .chatting
        -#     .says
        -#       %p
        -#         アフィリエイトブログで培ったSEOなどのスキルや経験を生かして、Webマーケティング領域のプロフェッショナルとして貢献していきたいと思います。
        -#       %p
        -#         中長期的には、自分のスキルや経験をチームに積極的に共有しナレッジの標準化を行ったり、全体のパフォーマンス向上のためのチームビルディングにも貢献していきたいと考えております。
        %br
        %p
          アフィリエイトブログで培ったSEOなどのスキルや経験を生かして、Webマーケティング領域のプロフェッショナルとして貢献していきたいと思います。
        %br
        %p
          中長期的には、自分のスキルや経験をチームに積極的に共有しナレッジの標準化を行ったり、全体のパフォーマンス向上のためのチームビルディングにも貢献していきたいと考えております。
  %br
  %section
    #skills
      .name
        %h2
          所有スキル
      .box2
        %p
          〈アフィリエイトサイト運営で学習した技術〉
          %p
            ・WordPressを用いたブログ運営
          %p
            ・Googleサーチコンソールを用いたアクセス分析
          %p
            ・Googleアナリティクスを用いたアクセス分析
          %p
            ・キーワードプランナーを用いたSEOキーワード選定
          %p
            ・ブログ記事の企画, ライティング
        %br
        %p
          〈学習経緯〉
          %p
            実績を上げているブロガーの有料noteやブログを読み独学で学びました。
  %section
    #portfolio#portfolio__1
      .name
        %h2
          ポートフォリオ
      .box2
        %p
          = link_to "https://pfcmaster.work/", method: :get do
            アプリのURL：https://pfcmaster.work/
          %p
            = link_to "https://github.com/naota7118/", method: :get do
              GitHubのURL：https://github.com/naota7118
          %br
            %p
              アプリ概要：減量したい方のためのカロリー記録アプリ。
            %p
              開発した目的：「減量が続かない」という自分自身の悩みを解決するため。
            %p
              こだわりポイント①：体重と体脂肪率から目安カロリーを自動計算する機能をjQeryで実装。
            %p
              こだわりポイント②：摂取カロリーと体重の推移をグラフで表示する機能をChart.jsで実装。
            %br
            %p
              苦労した点①：Chart.jsを用いたグラフ機能の実装で、どのようにデータを取得しグラフで表示するか自分で考えてcharts_controller.rbのコードを書いたところ。
            %p
              苦労した点②：AWSへのデプロイでたくさんのエラーに直面しました。自力でエラーを解決していくことで自走力が身につきました。
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                = link_to "https://qiita.com/naota7118/items/d641eae70dd65412a00b", method: :get do
                  ポートフォリオを説明するQiita記事
                を書いたところ165Contribution頂くことができました!!
