.main
  %section.profile
    #profile
      .name
        %h2
          経歴
      .box2
        %p
          1989年9月 千葉県富里市出身
        %p  
          2012年3月 青山学院大学 総合文化政策学部総合文化政策学科 卒業
        %p  
          2015年3月 国際医療福祉大学大学院 臨床心理学専攻 修了
        %p
          2015年4月〜2020年12月 臨床心理士として病院でカウンセリングや心理検査などを担当
        %p
          2020年1月〜7月 プログラミングスクールTECH::CAMP受講
        %p
          2020年8月〜10月 独学でポートフォリオ製作
        %p
          2020年11月〜 転職活動中
  %section
    #vision
      .name
        %h2
          ビジョン
      .box2
        %p
          Q. なぜwebエンジニアになりたいの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                もっと学習意欲や成長意欲を活かした仕事がしたいと思ったからです。
        %p
          前職は臨床心理士として、病院でカウンセリングや心理検査をしたり、総合病院で精神科の患者さん向けの集団プログラムを企画したりしていました。
          スキルアップのために外部の勉強会に参加したり、週に2冊以上は本を読んだりしていました。
          しかし、そういった専門的な心理療法のテクニックは現場では求められず、シンプルに相手を思いやる気持ちを行動で示すほうが満足度が高いということが判りました。
          もっと自分の学習意欲や成長意欲を活かして働いた方が、私自身も幸せに働けて、かつ他者に貢献できるのではないかと思いました。
      .box2
        %p
          Q. どんなwebエンジニアになりたいの？
        .balloon5
          .faceicon
            = image_tag 'profile_face_image.jpg'
          .chatting
            .says
              %p
                技術によってお客様を満足させられるエンジニアになりたいと思っています。
        %p
          私は誰かが喜んでくれる姿を見るのが好きです。
          前職では、患者さんの笑顔や元気になっていく姿を見ている瞬間に最も喜びを感じていました。
          最初は表情が暗くほとんど話さなかった患者さんが集団プログラムに参加するうちに本来の元気な姿になっていき、趣味の話や学生時代の話を楽しそうにお話ししてくださるのを聞くのが好きでした。
          お客様の満足度を向上させ、その結果会社の利益向上に繋がるよう貢献したいと思っております。
      .box2
        %p
          Q. 数年後の自分をイメージできる？
        %br
        %p
          1年後の姿：テストや運用で豊富な経験を積む。信頼を得て開発の一部を任せて頂くようになる。問題の切り分けやロジカルな考え方ができるようになる。積極的にキャッチアップしていく行動力でチームに刺激を与える存在になる。
        %br
        %p
          3年後の姿：設計もできるようになり、設計から開発・テスト・運用まで一貫して行える。後輩メンバーのフォローなどチームを引っ張っていく存在になる。
  %br
  %section
    #skills
      .name
        %h2
          所有スキル
      .box2
        %p
          〈プログラミングスクールで学習した技術〉
          %p
            HTML / CSS / Javascript / jQuery / Ruby / Ruby on Rails / Git / AWS(EC2, S3, IAM)
        %br
        %p
          〈ポートフォリオで使用した技術〉
          %p
            HTML / CSS / Javascript / jQuery / Ruby / Ruby on Rails / Git / AWS(EC2, S3, VPC, Route53, ALB, IAM) / Docker / CircleCI / Rspec / Rubocop / Chart.js
        %br
        %p
          〈学習経緯〉
          %p
            プログラミングスクールでGitHubのプルリクを用いたチーム開発を経験し、スクール卒業後は独学でRuby on Railsを用いたオリジナルアプリを開発し、アプリを開発しながら学習していきました。
            %p
              ポートフォリオのエラーで困ったときは、同じエラーのStackoverflow記事を参考にし、わからないところはRailsやMySQLのドキュメントを確認しました。どうしても解決できないときは、teratailで質問し解決しました。
              %p
                DockerやCircleCIはUdemy講座で基本的な流れを掴んだらすぐにポートフォリオでアウトプットし、つまずいたらドキュメントで調べるようにしていました。
  %section
    #portfolio
      .name
        %h2
          ポートフォリオ
      .box2
        %p
          = link_to "https://pfcmaster.work/", method: :get do
            アプリのURL：https://pfcmaster.work/
          %p
            = link_to "https://github.com/naota7118/", method: :get do
              GitHubのURL：https://github.com/naota7118
          %br
            %p
              開発した目的：「減量が続かない」という自分自身の悩みを解決するため。
              %p
                用途や機能：体重と体脂肪率から目安カロリーを自動計算する機能をjQeryで実装。摂取カロリーと体重の推移をグラフで表示する機能をChart.jsで実装。
              %br
                %p
                  工夫した点：Chart.jsを用いたグラフ機能の実装で、どのようにデータを取得しグラフで表示するか自分で考えてcharts_controller.rbのコードを書いたところ。
                  %p
                    難しかった点：AWSへのデプロイでたくさんのエラーに直面しました。自力でエラーを解決していくことで自走力が身につきました。
        .portfolio__qiita
          = link_to "https://qiita.com/naota7118/items/d641eae70dd65412a00b", method: :get do
            ポートフォリオの説明Qiita記事（165Contribution頂きました!!）
        %br
        .portfolio__youtube
          = link_to "https://youtu.be/OukAs52n-Pc", method: :get do
            ポートフォリオの説明YouTube動画
        .youtube-container
          %iframe{width:"560", height:"315", src:"https://www.youtube.com/embed/OukAs52n-Pc", frameborder:"0" }
  %br
  %section
    #others
      .name
        %h2
          実績
      .box2
        Qiita執筆　概要　こだわりポイント
        面接練習会の主催
        ポートフォリオ説明YouTube動画
  %br
  %section
    #hobby
      .name
        %h2
          趣味
      .box2
        筋トレ