.side__content
  .side__menu
    .side__menu__title
      %h2 Menu
    .side__liset__wrapper
      %ul
        %li
        = link_to 'Top', "#top", class: 'gosection'
        %li
        = link_to 'ブログを始めたきっかけ', "#blog_start_reason", class: '#blog_start_reason'
        %ul
          %li
            = link_to 'カウンセリング', "#counseling", class: 'gosection'
          %li
            = link_to '集団プログラム企画', "#program", class: 'gosection'
          %li
            = link_to 'アフィリエイトブログ', "#blog", class: 'gosection'
        %li
          = link_to 'ビジョン', "#vision", class: 'gosection'
        %ul
          %li
            = link_to 'なぜ前職を退職するのか', "#vision__1", class: 'gosection'
          %li
            = link_to 'なぜWebマーケターになりたいのか', "#vision__2", class: 'gosection'
          %li
            = link_to 'どんなWebマーケターになりたいか', "#vision__3", class: 'gosection'
          %li
            = link_to '1年後の姿', "#vision__4", class: 'gosection'
          %li
            = link_to '3年後の姿', "#vision__4", class: 'gosection'
        %li
          = link_to '所有スキル', "#skills", class: 'gosection'
        %li
          = link_to 'ポートフォリオ', "#portfolio", class: 'gosection'
        %ul
          %li
            = link_to '個人開発アプリ', "#portfolio__1", class: 'gosection'