.side__content
  .side__menu
    .side__menu__title
      %h2 Menu
    .side__liset__wrapper
      %ul
        %li
          = link_to 'Top', "#top"
        %li
          = link_to 'ブログを始めたきっかけ', "#blog_start_reason"
        %li
          = link_to 'ブログで工夫したこと', "#blog_scheme"
        %li
          = link_to '転職しようと思った理由', "#jobchange_reason"
        %li
          = link_to 'キャリアプラン', "#careerplan"
        %li
          = link_to '所有スキル', "#skill"
        %li
          = link_to '実績・制作物', "#portfolio"