.side__content
  .side__menu
    .side__menu__title
      %h2 menu
    .side__liset__wrapper
      %ul
        %li
          = link_to 'Top', "#top", class: 'gosection'
        %li
          = link_to 'Profile', "#profile", class: 'gosection'
        %ul
          %li
            = link_to '精神科クリニック', "#profile__1", class: 'gosection'
          %li
            = link_to '精神科デイケア', "#profile__2", class: 'gosection'
          %li
            = link_to 'アフィリエイトブログ', "#profile__1", class: 'gosection'
        %li
          = link_to 'Vision', "#vision", class: 'gosection'
        %ul
          %li
            = link_to 'なぜwebマーケターになりたいのか', "#vision__1", class: 'gosection'
          %li
            = link_to '1年後の姿', "#vision__2", class: 'gosection'
          %li
            = link_to '3年後の姿', "#vision__3", class: 'gosection'
        %li
          = link_to 'Skills', "#skills", class: 'gosection'
        %li
          = link_to 'Portfolio', "#portfolio", class: 'gosection'
        %ul
          %li
            = link_to '個人開発アプリ', "#portfolio__1", class: 'gosection'
        %li
          = link_to 'Others', "#others", class: 'gosection'
        %ul
          %li
            = link_to 'Qiita執筆', "#others__1", class: 'gosection'
          %li
            = link_to 'イベント主催', "#others__2", class: 'gosection'
          %li
            = link_to 'YouTube', "#others__3", class: 'gosection'
        %li
          = link_to 'Hobby', "#hobby", class: 'gosection'
        %ul
          %li
            = link_to '筋トレ', "#hobby__1", class: 'gosection'
          %li
            = link_to 'ブログ', "#hobby__2", class: 'gosection'