.side__content
  .side__menu
    .side__menu__title
      %h2 Menu
    .side__liset__wrapper
      %ul
        %li
          = link_to 'Top', "#"
        %li
          = link_to '学生時代について', "#student"
        %li
          = link_to '前職を選んだ理由', "#before_reason"
        %li
          = link_to 'Webマーケターに転職しようと思った理由', "#jobchange_reason"
        %li
          = link_to '入社後生かせるスキル・経験', "#skill"